<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h1 style="text-align: center">Cadet Management</h1>
	</div>
</div>

<hr>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="col-sm-12">
			<h3 style="text-align:center">Manage Cadets and their Cwids</h3>
		</div>
		<div class="col-sm-12">
			<%= button_to "Admin Panel", admin_panel_path, :method => "get", class: 'form-control' %>
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="col-sm-6">
		<div class="col-sm-12">
			<h4 style="text-align: center">Vote Total</h4>
		</div>
	</div>
	
	
	<div class="col-sm-6">
	</div>
</div>